<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Recipe Book</a>
    <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" (click)="onSelect('recipe')">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onSelect('shopping-list')">Shopping List</a>
        </li>
        <li ngbDropdown class="nav-item">
          <a href (click)="false" class="nav-link" ngbDropdownToggle>Manage</a>
          <div ngbDropdownMenu>
            <button ngbDropdownItem>Save data</button>
            <button ngbDropdownItem>Fetch data</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>