<div class="row">
    <div class="col-12">
        <button class="btn btn-success">
            New Recipe
        </button>
    </div>
</div>
<hr>
<div class="row justify-content-center">
    <div class="col-10">
        <a href="#" class="list-group-item clearfix mb-3" *ngFor="let recipe of recipes">
            <div class="row justify-content-between">
                <div class="col">
                    <h4 class="list-group-item-heading">
                        {{recipe.name}}
                    </h4>
                    <p class="list-group-item-text">{{recipe.description}}</p>
                </div>
                <div class="col-3 ml-auto">
                    <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive" style="max-height: 50px;">
                </div>
            </div>
        </a>
        <app-recipe-item></app-recipe-item>
    </div>
</div>